/**
!/.gitignore
!/README
!/src/COPYRIGHT

#
# MeshBSD
#
!/MeshBSD/cfg/tl-wr1043ndv2
!/MeshBSD/lib/cfg.sh

!/MeshBSD/root/bin/cfg_load
!/MeshBSD/root/bin/cfg_save

!/MeshBSD/root/etc/cfg/dhcpd.conf
!/MeshBSD/root/etc/cfg/group
!/MeshBSD/root/etc/cfg/hostname.arge0
!/MeshBSD/root/etc/cfg/hostname.arge1
!/MeshBSD/root/etc/cfg/inetd.conf
!/MeshBSD/root/etc/cfg/ipsec.conf
!/MeshBSD/root/etc/cfg/manifest
!/MeshBSD/root/etc/cfg/master.passwd
!/MeshBSD/root/etc/cfg/myname
!/MeshBSD/root/etc/cfg/passwd
!/MeshBSD/root/etc/cfg/pf.conf
!/MeshBSD/root/etc/cfg/ppp.conf
!/MeshBSD/root/etc/cfg/rc.conf
!/MeshBSD/root/etc/cfg/wpa_supplicant.conf

!/MeshBSD/root/etc/pam.d/README
!/MeshBSD/root/etc/pam.d/atrun
!/MeshBSD/root/etc/pam.d/cron
!/MeshBSD/root/etc/pam.d/ftp
!/MeshBSD/root/etc/pam.d/ftpd
!/MeshBSD/root/etc/pam.d/imap
!/MeshBSD/root/etc/pam.d/login
!/MeshBSD/root/etc/pam.d/other
!/MeshBSD/root/etc/pam.d/passwd
!/MeshBSD/root/etc/pam.d/pop3
!/MeshBSD/root/etc/pam.d/rsh
!/MeshBSD/root/etc/pam.d/sshd
!/MeshBSD/root/etc/pam.d/su
!/MeshBSD/root/etc/pam.d/system
!/MeshBSD/root/etc/pam.d/telnetd

!/MeshBSD/root/etc/rc
!/MeshBSD/root/etc/rc.d/dhcpd
!/MeshBSD/root/etc/rc.d/hostapd
!/MeshBSD/root/etc/rc.d/httpd
!/MeshBSD/root/etc/rc.d/inetd
!/MeshBSD/root/etc/rc.d/ntpd
!/MeshBSD/root/etc/rc.d/rc.subr

!/MeshBSD/root/etc/rc2
!/MeshBSD/root/etc/termcap
!/MeshBSD/root/etc/ttys

!/MeshBSD/programs/Makefile
!/MeshBSD/programs/mktplinkfw/Makefile
!/MeshBSD/programs/mktplinkfw/mktplinkfw.c
!/MeshBSD/programs/mktplinkfw2/Makefile
!/MeshBSD/programs/mktplinkfw2/mktplinkfw2.c
!/MeshBSD/programs/ubnt-mkfwimage/Makefile
!/MeshBSD/programs/ubnt-mkfwimage/fw.h
!/MeshBSD/programs/ubnt-mkfwimage/mkfwimage.c

#
# Etc.
#
!/src/etc/dhcpd.conf

#
# Shared data.
#
!/src/share/man/man4/Makefile
!/src/share/man/man4/vether.4

#
# Configuration
#
!/src/sys/conf/files
!/src/sys/conf/NOTES
!/src/sys/conf/options

#
# Modifications targeting mx25l based flash/spi.
#
!/src/sys/dev/flash/mx25l.c

#
# MIPS platform specific.
#
!/src/sys/mips/conf/AR933X_BASE
!/src/sys/mips/conf/AR933X_BASE.hints

!/src/sys/mips/conf/TL-WR740Nv4
!/src/sys/mips/conf/TL-WR740Nv4.hints

#
# Standalone kernel modules.
#
!/src/sys/modules/if_bridge/Makefile
!/src/sys/modules/if_vether/Makefile

#
# Modifications on networking sub-system.
#
!/src/sys/net/if.h
!/src/sys/net/if_bridge.c
!/src/sys/net/if_bridgevar.h
!/src/sys/net/if_vether.c

#
# Bsdbox. 
#
!/src/tools/bsdbox/Makefile
!/src/tools/bsdbox/Makefile.base
!/src/tools/bsdbox/Makefile.net
!/src/tools/bsdbox/Makefile.login
!/src/tools/bsdbox/Makefile.kld
!/src/tools/bsdbox/Makefile.fs

#
# Userspace
#
!/src/usr.sbin/Makefile

!/src/usr.sbin/dhcpd/Makefile
!/src/usr.sbin/dhcpd/alloc.c
!/src/usr.sbin/dhcpd/bootp.c
!/src/usr.sbin/dhcpd/bpf.c
!/src/usr.sbin/dhcpd/conflex.c
!/src/usr.sbin/dhcpd/confpars.c
!/src/usr.sbin/dhcpd/convert.c
!/src/usr.sbin/dhcpd/db.c
!/src/usr.sbin/dhcpd/dhcp-options.5
!/src/usr.sbin/dhcpd/dhcp.c
!/src/usr.sbin/dhcpd/dhcp.h
!/src/usr.sbin/dhcpd/dhcpd.8
!/src/usr.sbin/dhcpd/dhcpd.c
!/src/usr.sbin/dhcpd/dhcpd.conf.5
!/src/usr.sbin/dhcpd/dhcpd.h
!/src/usr.sbin/dhcpd/dhcpd.leases.5
!/src/usr.sbin/dhcpd/dhctoken.h
!/src/usr.sbin/dhcpd/dispatch.c
!/src/usr.sbin/dhcpd/errwarn.c
!/src/usr.sbin/dhcpd/hash.c
!/src/usr.sbin/dhcpd/icmp.c
!/src/usr.sbin/dhcpd/inet.c
!/src/usr.sbin/dhcpd/memory.c
!/src/usr.sbin/dhcpd/options.c
!/src/usr.sbin/dhcpd/packet.c
!/src/usr.sbin/dhcpd/parse.c
!/src/usr.sbin/dhcpd/pfutils.c
!/src/usr.sbin/dhcpd/print.c
!/src/usr.sbin/dhcpd/sync.c
!/src/usr.sbin/dhcpd/sync.h
!/src/usr.sbin/dhcpd/tables.c
!/src/usr.sbin/dhcpd/tree.c
!/src/usr.sbin/dhcpd/tree.h
!/src/usr.sbin/dhcpd/udpsock.c



